aiohttp==3.8.1
aiohttp-socks==0.7.1
aiosignal==1.2.0
alembic==1.7.5
anyio==3.6.2
APScheduler==3.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.10.0
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_477u68wvzm/croot/certifi_1671487773341/work/certifi
cffi==1.15.0
charset-normalizer==2.0.10
cryptography==39.0.2
decorator==5.1.1
deepl==1.14.0
frozenlist==1.2.0
greenlet==1.1.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.16.3
httpx==0.23.3
hyperframe==6.0.1
idna==3.3
jsonpickle==2.0.0
lxml==4.7.1
Mako==1.1.6
MarkupSafe==2.0.1
mergedeep==1.3.4
multidict==5.2.0
oauthlib==3.2.2
openai==0.27.0
outcome==1.1.0
psutil==5.9.0
pycparser==2.21
python-dateutil==2.8.2
python-socks==2.0.1
python-telegram-bot==13.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
selenium==4.1.0
selenium-wire==2.1.2
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
SQLAlchemy==1.4.20
tornado==6.2
tqdm==4.62.3
trio==0.19.0
trio-websocket==0.9.2
tweepy==4.12.1
tzdata==2022.7
tzlocal==4.2
ujson==5.1.0
urllib3==1.26.8
user-agent==0.1.10
win32-setctime==1.0.4
wsproto==1.0.0
yarl==1.7.2
